@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: none;
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #9c9c9c;
}

header {
	width: 100%;
	padding: 10px 0.5% 0px 0.5%;
	background-color: #000;
	float: left;
	position: fixed;
}

header #logo {
	color: #fff;
}

header #logo span {
	font-size: 3em;
	line-height: 45px;
	margin-left: 10px;
	font-family: 'Bangers', serif;
}

@media (min-width: 701px) {
	#logo {
		float: left;
		width: 30%;
		font-size: 1.1em;
	}

	#about {
		float: right;
		width: 67%;
	}
}

@media (max-width: 700px) {
	#logo {
		margin-top: 15px;
		width: 100%;
		font-size: 1.5em;
	}

	#about {
		float: left;
		width: 100%;
	}
}

#about {
	font-size: 1em;
	line-height: 40px;
	margin-bottom: 10px;
}

#about > a {
	font-size: 1.3em;
	color: #fff;
	font-family: 'Acme', serif;

}

#about > a:not(:last-child) {
	margin-right: 10%;
}

#game {

    margin: auto;
    display: block;

	background-color: #fff;
	width: 55%;
	height: 100%;
}
